body {
    background-color: black;
    color: blue;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    color: red;
    font-size: 50px;
}
h2 {
    color: rgba(170, 20, 20, 0.904);
    font-size: 30px;
}
span {
    color: blue;
}
.display-flex {
    display: flex;
    margin-bottom: 150px;
}
.flex-item {
    width: 20%;
}
.one {
    width: 80%;
}
.one h1, h2, p {
    margin-left: 5%;
}
.flex-item img {
    width: 300px;
}
ul {
    list-style-type: none;
    margin-left: 5%;
    padding: 0;
    width: 100%;
}
li {
    display: inline;
    margin-right: 5%;
    
}
li a {
    display: inline-block;
    text-decoration: none;
    font-size: 40px;
    letter-spacing: 3px;
}
li a:hover {
    color: white;
}
.details {
    display: flex;
    margin-bottom: 100px;
}
.details .flex-item {
    width: 50%;
    margin-right: 5%;
    margin-left: 5%;
    padding-right: 20px;
    padding-left: 35px;
    text-align: justify;
    border: 2px solid red;
    box-shadow: 0 0 1px 2px blue;
}
#git-link {
    margin-left: 5%;
    font-size: 20px;
}
 